@-webkit-keyframes HeadingAnimation {
  40% {
    text-shadow: 0 0 10px #fff;
  }
}

@keyframes HeadingAnimation {
  40% {
    text-shadow: 0 0 10px #fff;
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 136, 0, 0.801)), to(rgba(0, 238, 255, 0.678)));
  background-image: linear-gradient(rgba(255, 136, 0, 0.801), rgba(0, 238, 255, 0.678));
  overflow-y: hidden;
  font-family: 'Newsreader', serif;
}

main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .calculator {
  width: 500px;
  height: 600px;
  background-color: whitesmoke;
  border-radius: 5%;
}

main .calculator .top-side {
  width: 100%;
  height: 7%;
  background-color: black;
  border-radius: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .calculator .top-side h2 {
  color: whitesmoke;
  -webkit-animation-name: HeadingAnimation;
          animation-name: HeadingAnimation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  letter-spacing: 5px;
}

main .calculator form {
  height: 60%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

main .calculator form fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .calculator form fieldset label {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
}

main .calculator form input, main .calculator form select {
  width: 350px;
  height: 30px;
}

main .calculator form button {
  height: 40px;
  background-color: rgba(120, 119, 180, 0.603);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 5px;
  border: none;
  font-family: 'Gill Sans', sans-serif;
  cursor: pointer;
  outline: none;
}

main .calculator form button:hover {
  opacity: 0.9;
}

main .calculator form button:hover::first-letter {
  color: #ff6600;
}

.outpute {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.outpute #result {
  font-size: 25px;
  letter-spacing: 3px;
}
/*# sourceMappingURL=style.css.map */